@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Ubuntu&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(229, 24%, 87%);
}

.headerNav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}

.btnMenu {
    display: none;
}

.topSections {
    cursor: pointer;
}

.carrinhoLogo {
    height: 22px;
    width: 19px;
    cursor: pointer;
}

#totalAPagar {
    font-weight: 300;
    font-size: 13px;
}

.botaoDelete {
    margin-left: 5px;
    margin-top: 10px;
    width: 15px;
    height: 20px;
    cursor: pointer;
}

.carrinhoNone {
    display: none;
}

.carrinhoAberto {
    display: inline-block;
    z-index: 1;
    height: 86%;
    margin-right: 78%;
    width: 300px;
    border: none;
    border-radius: 18px;
}

.mainCarrinhoAberto {
    opacity: 0.6;
}

.finalizarCompra {
    width: 250px;
    border: none;
    border-radius: 8px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.divInternaCarrinhoNone {
    display: none;
}

#carrinhoDiv {
    display: flex;
    height: 5px;
}

.divInternaCarrinho {
    display: inline-flex;
    justify-content: space-between;
}

.divInternaTexto {
    display: inline;
    font-size: 12px;
    color: hsl(229, 14%, 57%);
    padding-left: 5px;
}

.thumbNailImagemCarrinho {
    height: 50px;
    width: 52px;
    border-radius: 13px;
    cursor: pointer;
}

.h5Carrinho {
    border-bottom: 1px solid black;
}

#quantidadeCarrinhoAdicionada {
    margin-left: 12px;
    z-index: 1;
    background-color: hsl(26, 100%, 55%);
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    box-sizing: border-box;
    padding: 4px;
    position: absolute;
}

.topDivMenor2 {
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.carrinhoMobileDiv {
    display: none;
}

#carrinhoDesktopDiv {
    display: flex;
    justify-content: space-between;
}

.paginaLogo {
    width: 150px;
    height: 30px;
    margin-right: 10px;
}

.paginaAvatar {
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
}

main {
    margin: 70px 60px 20px 80px;
    display: flex;
    justify-content: space-between;
}

.imagemContainer1 {
    display: inline-block;
    background-image: url('image-product-1.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemAmpliada1 {
    background-image: url('image-product-1.jpg');
    background-size: cover;
    border-radius: 18px;
    width: 450px;
    background-repeat: no-repeat;
    border: none;
}

.imagemContainer2 {
    display: inline-block;
    background-image: url('image-product-2.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemAmpliada2 {
    background-image: url('image-product-2.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemContainer3 {
    display: inline-block;
    background-image: url('image-product-3.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemAmpliada3 {
    background-image: url('image-product-3.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemContainer4 {
    display: inline-block;
    background-image: url('image-product-4.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemAmpliada4 {
    background-image: url('image-product-4.jpg');
    background-size: cover;
    border-radius: 18px;
    border: none;
}

.imagemPrincipal {
    width: 350px;
    height: 350px;
    border: none;
    cursor: zoom-in;
}

#imagemPrincipal {
    width: 380px;
    box-sizing: border-box;
    height: 350px;
    border: none;
}

.thumbNailsDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.thumbNailImagemSelecionada {
    height: 70px;
    width: 72px;
    border-radius: 13px;
    border: 2px solid hsl(26, 100%, 55%);
    color: hsl(25, 100%, 94%);
    opacity: 0.7;
    cursor: pointer;
}

.thumbNailImagem {
    height: 70px;
    width: 72px;
    border-radius: 13px;
    cursor: pointer;
}

.topTexto {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
}

.textosDiv {
    margin-left: 80px;
    margin-top: 30px;
}

.textoSneakerOutono {
    color: hsl(229, 14%, 57%);
}

.spanDesconto {
    font-size: 15px;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 5px;
    margin-left: 10px;
    border-radius: 8px;
}

.precoAntigo {
    color: hsl(229, 14%, 57%);
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 700;
}

.divBotoesQuantidade {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: hsl(229, 14%, 90%);
    border-radius: 8px;
}

.divBotoes {
    display: flex;
    justify-content: space-evenly;
}

.botaoAdiciona {
    color: hsl(26, 100%, 55%);
    background-color: hsl(229, 14%, 90%);
    border: none;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.adicionarAoCarrinho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 240px;
    border: none;
    border-radius: 8px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    cursor: pointer;
}


#fecharDialog {
    margin-left: 420px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#iconeGithub {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: .1rem;
    margin-top: 33rem;
}

.setasImagens img {
    display: none;
}

@media (max-width: 1024px) {

    #divComFotos,
    .textosDiv {
        display: inline-block;
    }

    main {
        width: 600px;
        display: block;
    }

    #containerImg {
        width: 350px;
        height: 350px;
    }

    .textosDiv {
        margin: 30px 0px 0px 0px;
    }

    .carrinhoAberto {
        margin-left: 250px;
        display: inline;
    }

    #divComFotos {
        margin-left: 50px;
    }

    #imagemPrincipal {
        width: 150px;
        height: 150px;
    }

    .headerNav {
        width: 300px;
    }

    nav {
        display: none;
    }

    .btnMenu {
        display: inline-block;
        padding-right: 5px;
        background-color: #fff;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .paginaLogo {
        margin: 0;
    }

    .btnMenu:focus-within~nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: baseline;
        position: absolute;
        top: 7%;
        right: 0;
        padding-top: 100px;
        z-index: 1;
        background-color: #e6dfec;
        width: 100%;
        height: 300%;
        border-radius: 18px;
        font-weight: bold;
    }

    .headerNav {
        display: block;
    }

    .topDivMenor2 {
        display: flex;
        padding: 10px 20px 100px 0px;
    }

    .carrinhoMobileDiv {
        display: flex;
        justify-content: space-between;
        margin-left: 45%;
    }

    .carrinhoAberto {
        left: -250px;
    }

    #carrinhoDesktopDiv {
        display: none;
    }

    .paginaLogo {
        width: 100px;
    }

    header {
        width: 65%;
    }

    .thumbNailsDiv {
        display: none;
    }

    .setasImagens {
        height: 50px;
        margin: 0;
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    .setasImagens img {
        display: inline-block;
        height: 50px;
        padding: 200px 0 100px 0;
    }
}


@media (max-width: 480px) {

    #divComFotos {
        margin-left: 0px;
        margin-top: 50px;
        padding: 0;
    }

    main {
        margin: 0 0 30px 0px;
        width: 400px;
        display: block;
    }

    #containerImg {
        width: 350px;
        height: 350px;
    }

    .textosDiv {
        width: 300px;
        margin: 0px 0px 0px 0px;
    }

    header {
        width: 350px;
    }

    .divBotoes{
        display: inline-block;
    }
    .adicionarAoCarrinho{
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
    }
}